.Button {
    align-self: center;
    border-radius: 10px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 110px;
    background-color: #001E6C;
    color: #ffffff;
  }

  .ButtonLarge {
    width: 170px;
    height: 50px
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    background-color: #035397;
  }
  
  .Button:hover:active {
    background-color: #035397 !important;
  }
  
  .Button:active {
    background-color: #035397 !important;
  }
  
  .Button:focus {
    background-color: #035397;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }