@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');

.App {
    font-family: "Ysabeau", sans-serif;
    background-color: #eeeeee;
    min-height: 100vh;
}
.Main {
    padding-top: 81px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Contrail One", sans-serif;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #001E6C;
  }